@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin blur($pixels) {
  -webkit-box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
}

@mixin shadow($width, $opacity) {  
  -webkit-box-shadow: $width $width $width $width rgba(0,0,0,$opacity);
  -moz-box-shadow: $width $width $width $width rgba(0,0,0,$opacity);
  box-shadow: $width $width $width $width rgba(0,0,0,$opacity);
}

@mixin center() {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin rotate($degrees) {
  -ms-transform: rotate($degrees); /* IE 9 */
  -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
  transform: rotate($degrees);
}

@font-face {
  font-family:"Prototype";
  src: url("/static/Prototype.ttf") /* TTF file for CSS3 browsers */
}

body {
  margin: 0px;
  background-color: #030202;
}

#app-container {
  @include center();
  width: 600px;
}

h1 {
  @include center();
  text-align: center;
}


#clock-body {
  @include center();
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background-color: #5D5D5D;
  color: #929090;
  text-align: center;
}

.shadow {
  box-shadow: inset 0px 0px 9px -2px #000000,0px -1px 9px -1px #212121;
  -webkit-box-shadow: inset 0px 0px 9px -2px #000000,0px -1px 9px -1px #212121;
  -moz-box-shadow: inset 0px 0px 9px -2px #000000,0px -1px 9px -1px #212121;
  -o-box-shadow: inset 0px 0px 9px -2px #000000,0px -1px 9px -1px #212121;
}

#clock-container {
  @include center();
  @include blur(15px);  
  background-color: #212121;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.clock-tick {
  z-index: 1;
  position: absolute;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: 25px;
}

#clock-timer {
  @include center();
  @include blur(5px); 
  background-color: #212121;
  z-index: 2;
  font-size: 60px;
  line-height: 130px;
  text-align: center;
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.hand-container {
  z-index: 2;
  @include center();
  @include rotate(270deg);
  height: 400px;
  width: 400px;
  pointer-events: none; /* allow "clicking through" this container */
}

.hand {
  z-index: -1;
  background: #000;
  height: 225px;
  position: absolute;
  left: 197px;
  width: 1.5%;
  top: -25px;
  border-radius: 2px;
}

.user-input {
  z-index: 3;
  width: 50px;
  height: 30px;
  font-size: 15px;
  margin: 0px 2px 0px 2px;
  text-align: center;
}

#input-container {
  z-index: 1;
  position: absolute;
  height: 200px;
  margin-left: 30px;
  margin-top: 130px;
}

.plusminus-icon {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

#input-duration-container {
  margin-right: 180px;  
  float: left;
}

#input-config-container {
  float: left;
}

.fa {
  cursor: pointer;
}

.fa-minus, .fa-plus {
  color: #212121;
}

#start-stop-container {
  float: left;
  margin-left: -13px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 24px;
}

#reset-container {
  float: left;
  margin-top: 10px;
  font-size: 24px;
  color: red;
}

#mode-container {
  position: absolute;
  top: 170px;
  font-size: 35px;
  left: 110px;
}

#footer {
  @include blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'sans-serif';
  background-color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#info-tab {
  margin-left: 15px;
}

.modal {
  @include center();
  @include blur(25px);
  z-index: 1;
  height: 125px;
  width: 325px;
  background-color: white;
  padding: 25px;
  font-family: 'sans-serif';
  font-size: 20px;
  text-align: center;
  border: 2px solid black;
}

#modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  color: red;
  font-weight: bold;
  text-align: center;
  height: 25px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;  
  
  transition: color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

#modal-close:hover {
  color: white;
  background-color: red;
  transition: color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;  
}
